        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" class="modal__img" />
        <div class="modal__about-film">
          <h2 class="modal__title">{{title}}</h2>
          <div class="modal__ifno-section">
            <ul>
              <li class="modal__info-key">Vote / Votes</li>
              <li class="modal__info-key">Popularity</li>
              <li class="modal__info-key">Original Title</li>
              <li class="modal__info-key">Genre</li>
            </ul>
            <ul>
              <li class="modal__info-value">
                <span class="modal__rating">{{vote_average}}</span>
                <span style="color: #8c8c8c">/</span>
                <span class="modal__votes">{{vote_count}}</span>
              </li>
              <li class="modal__info-value">{{popularity}}</li>
              <li class="modal__info-value">{{original_title}}</li>
              <li class="modal__info-value">
                  {{#each genres}}
                  {{name}}

                  {{/each}}
              </li>
            </ul>
          </div>
          <h3 class="moda__about-title">ABOUT</h3>
          <p class="modal__description">{{overview}}</p>
          <div class="modal__button-container">
            <button id='{{id}}' type="button" class="modal__button-watched">ADD TO WATCHED</button>
            <button id='{{id}}' type="button" class="modal__button-queue">ADD TO QUEUE</button>
          </div>
        </div>