{{#each this}}
  <li class='movie__item' data-id={{id}}>
    <a class='movie__link' href='./' data-id={{id}}>
      <div class='movie__thumb'>
        <img
          class='movie__img'
          src='https://image.tmdb.org/t/p/w500{{poster_path}}'
          alt='{{title}}'
          width='274'
          height='398'
          data-id='{{id}}'
        />
      </div>
      <div class='movie__text'>
        <h2 class='movie__title'>{{original_title}}</h2>
        <p class='movie__genre'>{{genre_ids}} | {{release_date}}</p>
      </div>
      <div class='one-card_overlay'>
        <div class='one-card__rate'>{{vote_average}}</div>
        <button type='button' class='btn_one-card' data-action=''>Add to watched</button>
        <button type='button' class='btn_one-card' data-action=''>Add to queque</button>
      </div>
    </a>
  </li>
{{/each}}